/* Coded with love by Mutiullah Samim */
  body,
  html {
    margin: 0;
    margin-left: -10px;
    padding: 0;
    height: 100%;
    width:auto;
    //background: #fff !important;
    background-image: url("campagne1.jpg");
  }

  .user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }

  .user_card_re {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    top: 100px;
    background: rgba(24, 67, 12, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }


  .brand_logo_container {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 10px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    text-align: center;
  }

  .brand_logo_container_re {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 10px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 5%;
  }
  
  .video_muso {
      width: 100%;
      background: rgba(24, 67, 12, 0.5);
      margin: 0 auto;
      justify-content: center;
  }
  
  iframe {
      justify-content: center;
      margin: 0 auto;
  }

  .brand_logo {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    margin-left: 2%;
  }

  .form_container {
    margin-top: 100px;
  }
  .login_btn {
    width: 100%;
    background: #4d650f !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #4d650f !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
  }

  .musomobil{
    color: silver;
  }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin: 10 auto;
  }
}
